<h1>Editing jitkillah</h1>

<%= render "form", jitkillah: @jitkillah %>

<br>

<div>
  <%= link_to "Show this jitkillah", @jitkillah %> |
  <%= link_to "Back to jitkillahs", jitkillahs_path %>
</div>
